<ng-template let-data="data" let-activeIds="activeIds" #variablesAccordion>
    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds">
        <ngb-panel *ngFor="let variable of data; trackBy: trackVariable" [id]="variablePanelId(variable)">
            <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle class="accordion-button" *ngIf="variable.name && variable.name.trim() !== '';else descr">{{variable.name}}<br>{{variable.hash}}</button>
                <ng-template #descr>
                    <button ngbPanelToggle class="accordion-button">{{variable.description}}<br>{{variable.hash}}</button>
                </ng-template>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col text-end">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button"
                                class="btn btn-sm btn-secondary md-2"
                                id="dropdownBasic1" ngbDropdownToggle>
                                Move to
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem *ngFor="let group of groupTabs"
                                    (click)="moveToGroup(variable, group.name)">{{ group.name }}</button>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-secondary ms-2"
                            (click)="duplicateVariable(variable)">Duplicate</button>
                        <button class="btn btn-sm btn-danger ms-2"
                            (click)="deleteVariable(variable)">Delete</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="ID" class="form-label">ID</label>
                            <input type="text" class="form-control" id="ID"
                                [(ngModel)]="variable.hash" disabled>
                        </div>
                        <div class="mb-3">
                            <label [attr.for]="'sort-' + variablePanelId(variable)" class="form-label">Order</label>
                            <input type="number" class="form-control" [attr.id]="'sort-' + variablePanelId(variable)"
                                [(ngModel)]="variable.sort">
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name"
                                [(ngModel)]="variable.name">
                        </div>
                        <div class="mb-3">
                            <label for="description"
                                class="form-label">Description</label>
                            <textarea class="form-control" id="description"
                                [(ngModel)]="variable.description"></textarea>
                        </div>
                        <app-edit-translations [variable]="variable"></app-edit-translations>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="addr"
                                        class="form-label">Memoria</label>
                                    <select class="form-select"
                                        [(ngModel)]="variable.memory"
                                        (ngModelChange)="updateHash(variable)">
                                        <option disabled>Open this select menu
                                        </option>
                                        <option value="eeprom">EEPROM</option>
                                        <option value="ram">RAM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="addr"
                                        class="form-label">Address</label>
                                    <input type="number" class="form-control"
                                        id="addr" [(ngModel)]="variable.address"
                                        (ngModelChange)="updateHash(variable)">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="addr"
                                        class="form-label">Mask</label>
                                    <input type="number" class="form-control"
                                        id="addr" [(ngModel)]="variable.mask"
                                        (ngModelChange)="updateHash(variable)">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="variable.pattern !== 'B'">
                            <label for="name" class="form-label">Endianess</label>
                            <input type="text" class="form-control" id="endianess" [ngModel]="variable.pattern.includes('>') ? 'Big Endian' : 'Little Endian'" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="bit" class="form-label">Bit</label>
                            <select class="form-select" id="bit"
                                [(ngModel)]="variable.bit">
                                <option [ngValue]="8">8 Bit</option>
                                <option [ngValue]="16">16 Bit</option>
                            </select>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value=""
                                id="button" [(ngModel)]="variable.button"
                                [ngModelOptions]="{standalone: true}" />
                            <label class="form-check-label" for="button">
                                Button
                            </label>
                        </div>
                        <div class="row" *ngIf="!variable.button">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="min" class="form-label">Min</label>
                                    <input type="number" class="form-control"
                                        id="min" [(ngModel)]="variable.min">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="max" class="form-label">Max</label>
                                    <input type="number" class="form-control"
                                        id="max" [(ngModel)]="variable.max">
                                </div>
                            </div>
                          <div class="col">
                            <div class="mb-3">
                              <label for="max" class="form-label">Step</label>
                              <input type="number" class="form-control"
                                     id="step" [(ngModel)]="variable.step">
                            </div>
                          </div>
                        </div>

                        <div class="mb-3" *ngIf="!variable.button">
                            <label for="format" class="form-label">Format</label>
                            <textarea class="form-control" id="format"
                                [(ngModel)]="variable.formatstring"></textarea>
                        </div>
                        <div class="row" *ngIf="!variable.button">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="format"
                                        class="form-label">Formula</label>
                                    <textarea class="form-control" id="readexp"
                                        [(ngModel)]="variable.readExp"></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="format" class="form-label">Inverse
                                        Formula</label>
                                    <textarea class="form-control" id="writeexp"
                                        [(ngModel)]="variable.writeExp"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-check mb-3" *ngIf="!variable.button">
                            <input class="form-check-input" type="checkbox" value=""
                                id="readonly" [(ngModel)]="variable.readonly"
                                [ngModelOptions]="{standalone: true}" />
                            <label class="form-check-label" for="readonly">
                                Readonly
                            </label>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Visibilità (ACL)</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="administrator"
                                    [id]="'acl-administrator-' + variablePanelId(variable)"
                                    [checked]="variable.acl?.includes('administrator')"
                                    (change)="toggleAclRole(variable, 'administrator', $event)">
                                <label class="form-check-label" [for]="'acl-administrator-' + variablePanelId(variable)">
                                    Administrator
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="service"
                                    [id]="'acl-service-' + variablePanelId(variable)"
                                    [checked]="variable.acl?.includes('service')"
                                    (change)="toggleAclRole(variable, 'service', $event)">
                                <label class="form-check-label" [for]="'acl-service-' + variablePanelId(variable)">
                                    Service
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="technician"
                                    [id]="'acl-technician-' + variablePanelId(variable)"
                                    [checked]="variable.acl?.includes('technician')"
                                    (change)="toggleAclRole(variable, 'technician', $event)">
                                <label class="form-check-label" [for]="'acl-technician-' + variablePanelId(variable)">
                                    Technician
                                </label>
                            </div>
                            <div class="form-text">Nessuna selezione = visibile a tutti i ruoli.</div>
                        </div>

                        <ng-container *ngIf="variable.button">
                            <div class="mb-3">
                                <label for="caption" class="form-label">Caption</label>
                                <textarea class="form-control" id="caption"
                                    [(ngModel)]="variable.caption"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="buttonvalue" class="form-label">Button Value</label>
                                <textarea class="form-control" id="buttonvalue"
                                    [(ngModel)]="variable.buttonValue"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="buttonbackground" class="form-label">Button Background Color</label>
                                <input class="form-control form-control-color" type="color" id="buttonbackground" name="head" [(ngModel)]="variable.buttonBackgroundColor" />
                            </div>
                            <div class="mb-3">
                                <label for="buttontext" class="form-label">Button Text Color</label>
                                <input class="form-control form-control-color" type="color" id="buttontext" name="head" [(ngModel)]="variable.buttonTextColor" />
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary" (click)="clearColors(variable)">Clear Colors</button>
                            </div>
                        </ng-container>

                        <app-edit-options *ngIf="!variable.button" [variable]="variable"></app-edit-options>
                        <app-edit-colors *ngIf="!variable.button" [variable]="variable"></app-edit-colors>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</ng-template>
<div class="container p-5" *ngIf="seramiEntry">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" (click)="beforeSave()">Check</button>
            <button class="btn btn-primary ms-2" (click)="save()">Save</button>
            <button class="btn btn-outline-secondary ms-2" (click)="exit()">Exit</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="mb-3">
                <label for="serami_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="serami_name" [(ngModel)]="seramiEntry.name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            <button class="btn btn-primary ms-2" (click)="newGroup()">New Group</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <ul ngbNav #nav="ngbNav" class="nav-pills">
                <li *ngFor="let group of groupTabs; trackBy: trackGroupTab" [ngbNavItem]="group.name" (shown)="onGroupTabShown(group)">
                    <a ngbNavLink>{{group.name}}</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col px-5 mt-5">
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="groupname" class="form-label">Group Name</label>
                                            <input type="text" class="form-control" id="groupname"
                                                (change)="changeGroupName($event, group.name)" [value]="group.name">
                                        </div>
                                        <div class="mb-3">
                                            <label [attr.for]="'groupsort-' + group.name" class="form-label">Order</label>
                                            <input type="number" class="form-control" [attr.id]="'groupsort-' + group.name"
                                                [(ngModel)]="group.sort"
                                                (change)="onGroupSortChange(group)">
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-danger"
                                                [disabled]="!isGroupEmpty(group.name)"
                                                [title]="isGroupEmpty(group.name) ? '' : 'Il gruppo contiene variabili'"
                                                (click)="deleteGroup(group.name)">Delete</button>
                                        </div>
                                        <app-edit-group-translations [group]="group"></app-edit-group-translations>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col text-end">
                                        <button class="btn btn-primary ms-2" (click)="newVariable(group.name)">New
                                            Variable</button>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <h3>Variable List</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ng-container *ngTemplateOutlet="variablesAccordion; context: {data: variablesByGroup[group.name] || [], activeIds: expandedVariablePanelId ?? ''}"></ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="'__search__'">
                    <a ngbNavLink>Search</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col px-5 mt-5">
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="ID" class="form-label">Search Text</label>
                                            <input type="text" class="form-control" id="search"
                                                [(ngModel)]="search">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ng-container *ngTemplateOutlet="variablesAccordion; context: {data: seramiEntry.data|search:search, activeIds: expandedVariablePanelId ?? ''}"></ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="'__check__'">
                    <a ngbNavLink>Check</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col px-5 mt-5">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Group</th>
                                            <th>Error</th>
                                            <th>Message</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let log of logs">
                                            <tr *ngFor="let v of log.variables;let i = index">
                                                <td *ngIf="i == 0" [attr.rowspan]="log.variables.length" (click)="serachFor(v)">
                                                    {{v.hash}}
                                                </td>
                                                <td>
                                                    {{v.name}}
                                                </td>
                                                <td>
                                                    {{v.group}}
                                                </td>
                                                <td *ngIf="i == 0" [attr.rowspan]="log.variables.length">
                                                    {{log.type}}
                                                </td>
                                                <td *ngIf="i == 0" [attr.rowspan]="log.variables.length">
                                                    {{log.message}}
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>
