<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="d-flex align-items-center justify-content-center">
        <img [src]="(info$|async)?.logo" style="height: 37px;">
        <h2 class="m-0 fw-bold ms-2 d-none">CAIMAN</h2>
      </div>
      <div class="menu d-block d-md-none">
        <button class="btn btn-link" (click)="burgerMenuClicked()">
          <bi name="list"></bi>
        </button>
      </div>
    </div>
    <div class="navbar-collapse d-none d-md-block" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" target="_blank" [routerLink]="['/docs']"><bi name="question-circle"></bi></a>
        </li>
        <li class="nav-item d-flex align-items-center ms-md-3">
          <app-language-switcher></app-language-switcher>
        </li>
        <li class="nav-item ms-md-3" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
            <bi name="person-circle" class="mx-1"></bi>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu dropdown-menu-end foreground">
            <div class="dropdown-header text-end">
              <div>{{username$|async}}</div>
              <small class="role">{{roles$|async}}</small>
            </div>
            <hr class="dropdown-divider">
            <a class="text-end" ngbDropdownItem (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<input #file type="file" (change)="onFileChange($event)" class="d-none">
