.navbar {
    border-top: 8px solid var(--primary);
    border-bottom: 1px solid var(--gray-300);

}

bi {
    display: inline-block;
    width: 1.3rem;
}

.foreground
{
    z-index: 10000;
}

.role
{
    text-transform: uppercase;
}

.sidemenu
{
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  z-index: 999;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: translateX(-101%);
  transition: all 0.8s;
  &.open
  {
    transform: translateX(0%);
  }
  .close
  {
    border: none;
    background: transparent;
    bi{
      width: 40px;
    }
  }

}
