<div class="row my-5">
    <div class="col-md">
        <h4>CLIENTE</h4>
        <ng-container *ngIf="(registry$|async) as registry">
            <ng-container *ngIf="registry.business_name">{{registry.business_name}}<br></ng-container>
            {{registry.surname}} {{registry.name}}<br>
            {{registry.address}} {{registry.street_number}}<br>
            {{registry.zip}} ({{registry.province}}) - {{registry.country}}<br>
            P.IVA/CF {{registry.fiscal_code}}<br>
            Tel. {{registry.phone}}
        </ng-container>
    </div>
    <div class="col-md text-end">
        <h4>CENTRO ASSISTENZA</h4>
        <ng-container *ngIf="(user$|async) as user">
            {{user.business_name}}<br>
            {{user.address}} {{user.street_number}}<br>
            {{user.zip}} ({{user.province}}) - {{user.country}}<br>
            P.IVA/CF {{user.fiscal_code}}<br>
            Tel. {{user.phone}}
        </ng-container>
    </div>
</div>
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="type">Tipologia intervento</label>
                <select pattern="^.$" [(ngModel)]="operation.data.type" class="form-control" id="type" name="type"
                    required>
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="I">Intervento Tecnico</option>
                    <option value="F">Prima Accessione</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="description">Descrizione intervento</label>
                <textarea class="form-control" id="description" type="text" placeholder="Descrizione intervento"
                    required [(ngModel)]="operation.data.description" name="description" ></textarea>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="replaced_components">Componenti sostituiti</label>
                <input class="form-control" id="replaced_components" type="text" placeholder="Componenti sostituiti"
                    required [(ngModel)]="operation.data.replaced_components" name="replaced_components" />
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="breakdowns">Guasti segnalati</label>
                <div class="form-check" *ngFor="let failure of failures$|async">
                    <input class="form-check-input" type="checkbox" value="" [id]="failure.key"
                        (change)="onFailureChange(failure.key)">
                    <label class="form-check-label" [for]="failure.key" [innerHTML]="failure.name">
                    </label>
                </div>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="mb-3">
                <label class="form-label" for="condition">Condizioni Intervento</label>
                <select [(ngModel)]="operation.data.condition" class="form-control" id="condition" name="condition"
                    required>
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="W">{{ 'under_warranty' | translate }}</option>
                    <option value="NW">{{ 'out_warranty' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="mb-3">
                <label class="form-label" for="warranty">Nr Verbale o certificato di garanzia</label>
                <input class="form-control" id="warranty" type="text" placeholder="Nr Verbale o certificato di garanzia"
                    required [(ngModel)]="operation.data.warranty" name="warranty" />
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="mb-3">
                <label class="form-label" for="e_system">Impianto Elettrico</label>
                <select [(ngModel)]="operation.data.e_system" class="form-control" id="e_system" name="e_system"
                    >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="CNF">{{ 'conforming' | translate }}</option>
                    <option value="NCNF">{{ 'not_conforming' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3">
                <label class="form-label" for="hp_system">Impianto di Riscaldamento e Idrosanitario</label>
                <select [(ngModel)]="operation.data.hp_system" class="form-control" id="hp_system" name="hp_system"
                    >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="CNF">{{ 'conforming' | translate }}</option>
                    <option value="NCNF">{{ 'not_conforming' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3">
                <label class="form-label" for="se_system">Impianto Scarico Fumi</label>
                <select [(ngModel)]="operation.data.se_system" class="form-control" id="se_system" name="se_system"
                    >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="CNF">{{ 'conforming' | translate }}</option>
                    <option value="NCNF">{{ 'not_conforming' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="li_suitability">Idoneità locale installazione</label>
                <select [(ngModel)]="operation.data.li_suitability" class="form-control" id="li_suitability"
                    name="li_suitability" >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="CNF">{{ 'conforming' | translate }}</option>
                    <option value="NCNF">{{ 'not_conforming' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="spaces_respected">Spazi rispettati attorno e sopra</label>
                <select [(ngModel)]="operation.data.spaces_respected" class="form-control" id="spaces_respected"
                    name="spaces_respected" >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="CNF">{{ 'conforming' | translate }}</option>
                    <option value="NCNF">{{ 'not_conforming' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="presence_ventilation_opening">Presenza apertura di ventilazione</label>
                <select [(ngModel)]="operation.data.presence_ventilation_opening" class="form-control"
                    id="presence_ventilation_opening" name="presence_ventilation_opening" >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="CNF">{{ 'conforming' | translate }}</option>
                    <option value="NCNF">{{ 'not_conforming' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="vent_opening_appropriate">Apertura vent. Adeguata</label>
                <select [(ngModel)]="operation.data.vent_opening_appropriate" class="form-control"
                    id="vent_opening_appropriate" name="vent_opening_appropriate" >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="CNF">{{ 'conforming' | translate }}</option>
                    <option value="NCNF">{{ 'not_conforming' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="vent_opening_free">Apertura vent. Libera</label>
                <select [(ngModel)]="operation.data.vent_opening_free" class="form-control" id="vent_opening_free"
                    name="vent_opening_free" >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="CNF">{{ 'conforming' | translate }}</option>
                    <option value="NCNF">{{ 'not_conforming' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="correct_sections">Sezioni corrette</label>
                <select [(ngModel)]="operation.data.correct_sections" class="form-control" id="correct_sections"
                    name="correct_sections" >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="Y">{{ 'yes' | translate }}</option>
                    <option value="N">{{ 'no' | translate }}</option>
                    <option value="NC">{{ 'not_verifiable' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="sh_section_limits">Tratto semiorizzontale entro i limiti</label>
                <select [(ngModel)]="operation.data.sh_section_limits" class="form-control" id="sh_section_limits"
                    name="sh_section_limits" >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="Y">{{ 'yes' | translate }}</option>
                    <option value="N">{{ 'no' | translate }}</option>
                    <option value="NC">{{ 'not_verifiable' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="correct_slope">Pendenza corretta (&gt;5%)</label>
                <select [(ngModel)]="operation.data.correct_slope" class="form-control" id="correct_slope"
                    name="correct_slope" >
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="Y">{{ 'yes' | translate }}</option>
                    <option value="N">{{ 'no' | translate }}</option>
                    <option value="NC">{{ 'not_verifiable' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="length_se_sections">Lunghezza tratti semiorizzontali</label>
                <input class="form-control" id="length_se_sections" type="text"
                    placeholder="Lunghezza tratti semiorizzontali" required
                    [(ngModel)]="operation.data.length_se_sections" name="length_se_sections" />
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="vs_length">Lunghezza tratti verticali</label>
                <input class="form-control" id="vs_length" type="text" placeholder="Lunghezza tratti verticali" required
                    [(ngModel)]="operation.data.vs_length" name="vs_length" />
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="bends_45">Numero curve a 45°</label>
                <input class="form-control" id="bends_45" type="text" placeholder="Numero curve a 45°" required
                    [(ngModel)]="operation.data.bends_45" name="bends_45" />
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="bends_90">Numero curve a 90°</label>
                <input class="form-control" id="bends_90" type="text" placeholder="Numero curve a 90°" required
                    [(ngModel)]="operation.data.bends_90" name="bends_90" />
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="smoke_pipe_section">Sezione Tubo Fumi</label>
                <input class="form-control" id="smoke_pipe_section" type="text" placeholder="Sezione Tubo Fumi" required
                    [(ngModel)]="operation.data.smoke_pipe_section" name="smoke_pipe_section" />
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="chimney_section">Sezione Canna Fumaria</label>
                <input class="form-control" id="chimney_section" type="text" placeholder="Sezione Canna Fumaria"
                    required [(ngModel)]="operation.data.chimney_section" name="chimney_section" />
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="t_inspection">Ispezione a T</label>
                <select [(ngModel)]="operation.data.t_inspection" class="form-control" id="t_inspection"
                    name="t_inspection">
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="Y">{{ 'yes' | translate }}</option>
                    <option value="N">{{ 'no' | translate }}</option>
                    <option value="NC">{{ 'not_verifiable' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="conservation_status">Stato conservazione</label>
                <select [(ngModel)]="operation.data.conservation_status" class="form-control" id="conservation_status"
                    name="conservation_status">
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="Y">{{ 'yes' | translate }}</option>
                    <option value="N">{{ 'no' | translate }}</option>
                    <option value="NC">{{ 'not_verifiable' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="exhaust_duct_leaks">Perdite condotti di scarico</label>
                <select [(ngModel)]="operation.data.exhaust_duct_leaks" class="form-control" id="exhaust_duct_leaks"
                    name="exhaust_duct_leaks">
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="Y">{{ 'yes' | translate }}</option>
                    <option value="N">{{ 'no' | translate }}</option>
                    <option value="NC">{{ 'not_verifiable' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="roof_smoke_exhaust">Scarico fumi a tetto</label>
                <select [(ngModel)]="operation.data.roof_smoke_exhaust" class="form-control" id="roof_smoke_exhaust"
                    name="roof_smoke_exhaust">
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="Y">{{ 'yes' | translate }}</option>
                    <option value="N">{{ 'no' | translate }}</option>
                    <option value="NC">{{ 'not_verifiable' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="windproof_chimney">Comignolo antivento</label>
                <select [(ngModel)]="operation.data.windproof_chimney" class="form-control" id="windproof_chimney"
                    name="windproof_chimney">
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="Y">{{ 'yes' | translate }}</option>
                    <option value="N">{{ 'no' | translate }}</option>
                    <option value="NC">{{ 'not_verifiable' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="chimney_insulation">Coibentazione canna fumaria</label>
                <select [(ngModel)]="operation.data.chimney_insulation" class="form-control" id="chimney_insulation"
                    name="chimney_insulation">
                    <option value="" selected>{{ 'not_selected' | translate }}</option>
                    <option value="Y">{{ 'yes' | translate }}</option>
                    <option value="N">{{ 'no' | translate }}</option>
                    <option value="NC">{{ 'not_verifiable' | translate }}</option>
                </select>
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="draught_classification">Classificazione Tiraggio</label>
                <input class="form-control" id="draught_classification" type="text"
                    placeholder="Classificazione Tiraggio" required [(ngModel)]="operation.data.draught_classification"
                    name="draught_classification" />
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="mb-3">
                <label class="form-label" for="draught_value">Valore Tiraggio</label>
                <input class="form-control" id="draught_value" type="text" placeholder="Valore Tiraggio" required
                    [(ngModel)]="operation.data.draught_value" name="draught_value" />
                <div class="invalid-feedback">
                    {{ 'field.invalid' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md text-end">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.dirty">Aggiorna</button>
        </div>
    </div>
</form>