<ng-container *ngIf="(config$|async) as config">
    <ng-container *ngIf="config !== null">
        <div class="modal-header">
            <h4 class="modal-title">{{config.title|translate:config.replaceParams}}</h4>
            <button type="button" *ngIf="!config.progress" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <p *ngIf="!!config">{{(config.message || '')|translate:config.replaceParams}}</p>
            <app-infinite-progress-bar *ngIf="config.progress && config.progressValue === undefined"></app-infinite-progress-bar>
            <ngb-progressbar *ngIf="config.progress && config.progressValue !== undefined" type="primary" textType="white" [value]="config.progressValue" [showValue]="true"></ngb-progressbar>
        </div>
    </ng-container>
</ng-container>
