<div class="container">
  <div class="row">
    <div class="col p-3 p-md-5">
      <div class="row">
        <div class="col-md my-2">
          <h1 class="fw-bold">{{ 'profile.change_password.title' | translate }}</h1>
        </div>
      </div>
      <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label" for="currentPassword">{{ 'profile.change_password.current' | translate }}</label>
              <input
                class="form-control"
                id="currentPassword"
                type="password"
                [(ngModel)]="currentPassword"
                name="currentPassword"
                required
                [placeholder]="'profile.change_password.current' | translate"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label" for="password">{{ 'auth.newpassword' | translate }}</label>
              <input
                class="form-control"
                id="password"
                type="password"
                [(ngModel)]="password"
                name="password"
                required
                [placeholder]="'auth.newpassword' | translate"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label" for="repeatPassword">{{ 'auth.repeatpassword' | translate }}</label>
              <input
                class="form-control"
                id="repeatPassword"
                type="password"
                [(ngModel)]="repeatPassword"
                name="repeatPassword"
                required
                [placeholder]="'auth.repeatpassword' | translate"
              />
            </div>
          </div>
        </div>
        <div class="row" *ngIf="errorCode">
          <div class="col-md-6">
            <div class="mb-3 text-danger">
              <div *ngIf="errorCode === 'password_short'">{{ 'auth.password_short' | translate }}</div>
              <div *ngIf="errorCode === 'password_not_match'">{{ 'auth.password_not_match' | translate }}</div>
              <div *ngIf="errorCode === 'invalid_password'">{{ 'field.invalid' | translate }}</div>
              <div *ngIf="errorCode === 'incorrect_password'">{{ 'profile.change_password.incorrect_password' | translate }}</div>
              <div *ngIf="errorCode === 'user_not_found'">{{ 'auth.invalid_credentials' | translate }}</div>
              <div *ngIf="errorCode === 'generic'">{{ 'field.invalid' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-between">
            <a routerLink="/dashboard/profile" class="btn btn-link px-0">{{ 'cancel' | translate }}</a>
            <button type="submit" class="btn btn-primary" [disabled]="submitting || !changePasswordForm.form.valid">
              {{ 'submit' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
