<div class="header">
  <app-header></app-header>
</div>
<div class="main p-3">
  <div class="container-fluid" *ngIf="(project$|async) as project">

    <ng-container *ngIf="project.variables.length > 0">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search variable by name or address..."
              aria-describedby="button-addon2" (keydown)="onSearchChange($event)">
            <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex">
            <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
              <li ngbNavItem>
                <a ngbNavLink>Device Info</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col text-center">
                      <img [src]="project.device?.info?.image">
                    </div>
                    <div class="col">
                      <h1>{{project.device?.mac}}</h1>
                      <div>{{project.device?.name_product}}</div>
                      <p>{{project.device?.info?.description }}</p>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="card">
                            <div class="card-header">
                              <h3>Connection</h3>
                            </div>
                            <div class="card-body">
                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <h3>Documentazione Tecnica</h3>
                          <ul>
                            <li *ngFor="let doc of project.device?.info?.documents">
                              <a [href]="doc.file" target="_blank">{{doc.name}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <h3>Faq</h3>
                          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel [title]="faq.question" *ngFor="let faq of project.device?.info?.faq">
                              <ng-template ngbPanelContent>
                                {{faq.response}}
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>                          
                        </div>
                      </div>
                    </div>
                  </div>

                </ng-template>
              </li>
              <li ngbNavItem *ngFor="let group of groups$|async" (shown)="onGroupSelected(group)">
                <a ngbNavLink>{{group}}</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col text-end my-2">
                      <button class="btn btn-sm btn-primary mx-2" (click)="hideAll(group)">Hide All</button>
                      <button class="btn btn-sm btn-primary" (click)="showAll(group)">Show All</button>
                    </div>
                  </div>
                  <div class="row align-items-stretch">
                    <ng-container *ngFor="let variable of variables$|async|varByGroup:group">
                      <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2 my-2">
                        <app-variable-tease [variable]="variable"></app-variable-tease>
                      </div>
                    </ng-container>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="flex-grow-1"></div>
          </div>

        </div>
      </div>
    </ng-container>

    <div class="text-center h-100 d-flex" *ngIf="project.variables.length == 0">
      <div class="container">
        <div class="row">
          <div class="col p-3">
            <div class="text-center mb-3">Loading...</div>
            <div class="progress-bar">
              <div class="progress-bar-value"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-option-modal></app-option-modal>
<app-serial-modal></app-serial-modal>
<app-variable-edit></app-variable-edit>
<app-optimization></app-optimization>