.ram
{
  border-left: 5px solid #aaffa4;
}

.eeprom
{
  border-left: 5px solid #ffe8a4;
}

bi
{
  width: 16px;
  cursor: pointer;
}

.name
{
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border
{
  border-radius: 5px;
  padding: 2px 8px;
}

.data
{
  font-size: 13px;
  color:#666;
}

.bytetype
{
  font-size: 12px;
  font-weight: bold;
  margin-right: 2px;
}

.byte
{
  color: #0000a4;

}

.word{
  color: #a40000;

}

.dword
{
  color: #00a400;
}

.readonly
{
  color: #000;
}

.byteorder
{
  text-transform: uppercase;
}

.value
{
  font-weight: bold;
  font-size: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@keyframes ldio-sgbedotv3i {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-sgbedotv3i div {
  position: absolute;
  animation: ldio-sgbedotv3i 0.45s linear infinite;
  width: 86.4px;
  height: 86.4px;
  top: 10.8px;
  left: 10.8px;
  border-radius: 50%;
  box-shadow: 0 2.16px 0 0 #1d0e0b;
  transform-origin: 43.2px 44.28px;
}
.loadingio-spinner-eclipse-e14gotp89x9 {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  background: none;
  position: relative;
}
.ldio-sgbedotv3i {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-sgbedotv3i div { box-sizing: content-box; }

.type
{
  font-size: 12px;
}

button.cancel
{
  border: 0;
  background: transparent;
  text-decoration: underline;
}