<div class="card h-100" *ngIf="variable"
  [ngClass]="{'eeprom': variable.memory === 'eeprom', 'ram': variable.memory === 'ram' }">
  <div class="card-body h-100 px-2 py-1 pb-2">
    <div class="d-flex flex-column justify-content-between h-100">
      <div [title]="variable.name" class="fw-bold name px-1">{{variable.name}}</div>
      <p class="px-1"><small>{{variable.description}}</small></p>
      <div>
        <div class="d-flex align-items-center justify-content-between">
          <ng-container *ngIf="(value$|async) as value; else notLoaded">
            <ng-container *ngIf="isNumber(value.value); else notRead">
              <ng-container *ngIf="value.value|variableValueFormatter:value.variable as calculatedValue; else notLoaded">
                <div class="value flex-grow-1 text-end" *ngIf="!writeMode" [title]="calculatedValue">
                  {{calculatedValue}}</div>
              </ng-container>
            </ng-container>
            <ng-template #notRead>
              <div class="value flex-grow-1 text-end" title="MISSING">MISSING</div>
            </ng-template>
          </ng-container>
          <ng-template #notLoaded>
            <div class="flex-grow-1 text-end">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                style="background: none; shape-rendering: auto;" width="40px" height="40px" viewBox="0 0 100 100"
                preserveAspectRatio="xMidYMid">
                <path d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#1d0e0b" stroke="none">
                  <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite"
                    keyTimes="0;1" values="0 50 51;360 50 51"></animateTransform>
                </path>
              </svg>
            </div>
          </ng-template>
          <div class="d-flex flex-grow-1 align-items-center justify-content-end" *ngIf="writeMode">
            <input type="number" [min]="variable.min || 0" [max]="variable.max || 9999999999"
              *ngIf="!variable.values || variable.values.length == 0" [ngModel]="newValue"
              (ngModelChange)="write($event)" class="form-control my-1">
            <select class="form-select" *ngIf="variable.values && variable.values.length > 0" [ngModel]="newValue"
              (ngModelChange)="write($event)">
              <option *ngFor="let value of variable.values" [ngValue]="+value[0]">{{value[1]}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between icons" *ngIf="{ value: counter$|async } as counter">
        <div class="d-flex flex-column justify-content-center">
          <span *ngIf="'administrator'|roleInCurrentUser|async">{{variable.hash}}</span>
          <div *ngIf="!writing && counter.value !== null && counter.value > 0">Scrittura tra...<span>{{counter.value}}</span></div>
          <div *ngIf="writing" class="fst-italic">{{'tease.writing'|translate}}</div>
        </div>
        <button *ngIf="counter.value !== null && counter.value > 0" (click)="cancel()" class="cancel">{{'cancel'|translate}}</button>
        <button class="btn btn-sm btn-link my-2" (click)="toggleWrite()" *ngIf="!writing && !(counter.value !== null && counter.value > 0) && !variable.readonly"><bi name="pen" class="mx-1"></bi></button>
      </div>
    </div>
  </div>
</div>