<div class="card h-100" *ngIf="variable"
  [ngClass]="{'eeprom': variable.memory === 'eeprom', 'ram': variable.memory === 'ram' }">
  <div class="card-body h-100 px-2 py-1 pb-2">
    <div class="d-flex flex-column justify-content-between h-100">
      <div [title]="variable.name" class="fw-bold name px-1">{{variable.name}}</div>
      <p class="px-1"><small>{{variable.description}}</small></p>
      <div [ngClass]="{'hide': variable.hide}">
        <!--<div class="d-flex justify-content-between align-items-center mb-4"
            *ngIf="(project$|async)?.view?.extendedView">
            <div class="d-flex">
              <div *ngIf="variable.bit === 8" class="border bytetype byte">
                <ng-container *ngIf="variable.signed">SIGNED </ng-container>BYTE
              </div>
              <div *ngIf="variable.bit === 16" class="border bytetype word">
                <ng-container *ngIf="variable.signed">SIGNED </ng-container>WORD
              </div>
              <div *ngIf="variable.bit === 32" class="border bytetype dword">
                <ng-container *ngIf="variable.signed">SIGNED </ng-container>DWORD
              </div>
              <div *ngIf="variable.readonly" class="border bytetype readonly">READONLY</div>
              <div *ngIf="(variable.pattern|byteorder) !== null" class="border bytetype byteorder">
                {{variable.pattern|byteorder}}</div>
            </div>
            <div class="text-end">
              <strong>{{variable.address|address:variable.memory:viewOpt|numberFormat:viewOpt}}</strong>
            </div>
          </div>-->
        <div class="d-flex align-items-center justify-content-between">
          <!--<div class="me-2" style="max-width: 50%">
              <small class="type fst-italic" *ngIf="(project$|async)?.view?.extendedView">{{variable|type}}</small>
              <div class="d-block fw-bolder mb-0 name" [title]="variable.name">{{variable.name}}</div>
              <div class="data" *ngIf="(project$|async)?.view?.extendedView">
                <small class="d-inline-block border mt-2">{{variable.sanitizedName}}</small>
                <div class="mt-3">Byte: {{variable.bit / 8 }}</div>
                <div class="" *ngIf="variable.mask && variable.mask !== fullmask">Mask:
                  {{variable.mask|numberFormat:viewOpt}}</div>
                <div>Min: {{variable.min}}</div>
                <div>Max: {{variable.max}}</div>
                <div *ngIf="variable.pattern">Pattern: {{variable.pattern}}</div>
              </div>
            </div>-->
          <ng-container *ngIf="(value$|async) as value; else notLoaded">
              <ng-container *ngIf="value|variableValueFormatter as calculatedValue; else notLoaded">
                <div class="value flex-grow-1 text-end" *ngIf="!writeMode" [title]="calculatedValue">
                  {{calculatedValue}}</div>
              </ng-container>
          </ng-container>
          <ng-template #notLoaded>
            <div class="flex-grow-1 text-end">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                style="background: none; shape-rendering: auto;" width="40px" height="40px" viewBox="0 0 100 100"
                preserveAspectRatio="xMidYMid">
                <path d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#1d0e0b" stroke="none">
                  <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite"
                    keyTimes="0;1" values="0 50 51;360 50 51"></animateTransform>
                </path>
              </svg>
            </div>
          </ng-template>
          <div class="d-flex flex-grow-1 align-items-center justify-content-end" *ngIf="writeMode">
            <input type="number" [min]="variable.min || 0" [max]="variable.max || 9999999999"
              *ngIf="!variable.values || variable.values.length == 0" [ngModel]="newValue"
              (ngModelChange)="write($event)" class="form-control my-1">
            <select class="form-select" *ngIf="variable.values && variable.values.length > 0" [ngModel]="newValue"
              (ngModelChange)="write($event)">
              <option *ngFor="let value of variable.values" [ngValue]="+value[0]">{{value[1]}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between icons mt-2">
        <div>
          <span *ngIf="'administrator'|roleInCurrentUser|async">{{variable.hash}}</span>
        </div>
        <!--
            <bi name="eye" (click)="showVariable()" *ngIf="variable.hide" class="mx-1"></bi>
            <bi name="eye-slash" (click)="hideVariable()" *ngIf="!variable.hide" class="mx-1"></bi>
            <bi name="info-circle" (click)="editVariable()" class="mx-1"></bi>
          -->
        <button class="btn btn-sm btn-link mt-2" (click)="toggleWrite()"><bi name="pen" class="mx-1"  *ngIf="!variable.readonly"></bi></button>
      </div>
    </div>
  </div>
</div>