<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{'auth.register'|translate}}</h3>
                    <ng-container *ngIf="!finish; else end">
                        <div class="mb-2" *ngIf="error === null">{{'validation'|translate}}</div>
                        <div class="mb-4" *ngIf="error === 'invalid_reg_code' || error ==='user_not_found'">{{ 'auth.confirm.link_invalid'|translate }}</div> 
                        <a routerLink="/auth/login" class="btn btn-primary">{{'auth.back'|translate}}</a>                       
                    </ng-container>
                    <ng-template #end>
                        <div class="mb-4">{{'auth.confirm.success'|translate}}</div>
                        <a routerLink="/auth/login" class="btn btn-primary">{{'auth.back'|translate}}</a>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>