<div class="h-100 d-flex flex-column">
  <div class="container mt-5">
    <div class="row mb-5">
      <div class="col text-center">
        <div class="d-flex align-items-center justify-content-center">
          <img [src]="(info$|async)?.logo" width="200px">
          <div class="text-start" *ngIf="!env.hide_micronova_ref">
            <h1 class="fw-bold mb-0">CAIMAN</h1>
            <small>{{ 'home.deviceselect.by_micronova' | translate }}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h1>{{ 'home.deviceselect.title' | translate }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3" *ngIf="env.only_op_enabled">
        <div class="card h-100" (click)="selectOption(1)" [ngClass]="{'selected': selectedOption == 1}">
          <div class="card-body d-flex justify-content-between flex-column h-100">
            <h5>{{ 'home.deviceselect.only_op.title' | translate }}</h5>
            <p>{{ 'home.deviceselect.only_op.description' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card h-100" (click)="selectOption(2)" [ngClass]="{'selected': selectedOption == 2}">
          <div class="card-body d-flex justify-content-between flex-column h-100">
            <h5>{{ 'home.deviceselect.wifi_client.title' | translate }}</h5>
            <p>{{ 'home.deviceselect.wifi_client.description' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card h-100" (click)="selectOption(3)" [ngClass]="{'selected': selectedOption == 3}">
          <div class="card-body d-flex justify-content-between flex-column h-100">
            <h5>{{ 'home.deviceselect.wifi_own.title' | translate }}</h5>
            <p>{{ 'home.deviceselect.wifi_own.description' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card h-100" (click)="selectOption(4)" [ngClass]="{'selected': selectedOption == 4}">
          <div class="card-body d-flex justify-content-between flex-column h-100">
            <h5>{{ 'home.deviceselect.offline.title' | translate }}</h5>
            <p>{{ 'home.deviceselect.offline.description' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="selectedOption == 1">
      <div class="col">
        <div class="card h-100">
          <div class="card-body h-100">
            <div class="row ">
              <div class="col-md mb-3">
                <label for="serial" class="form-label">{{ 'serial' | translate }}</label>
                <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" (click)="scanSerial()"><bi name="qr-code" class="mx-1"></bi></button>
                  <input type="text" id="serial" class="form-control" [placeholder]="'serial' | translate"
                         [attr.aria-label]="'serial' | translate" aria-describedby="button-addon2" [(ngModel)]="serialNumber">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-end">
                <button class="btn btn-primary" (click)="connectUsingOnlySerial()">{{ 'home.deviceselect.open' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="selectedOption == 2">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-md mb-3">
                <label for="macaddress" class="form-label">{{ 'home.deviceselect.macaddress' | translate }}</label>
                <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" (click)="scanMac()"><bi name="qr-code" class="mx-1"></bi></button>
                  <input type="text" class="form-control" [placeholder]="'home.deviceselect.macaddress' | translate"
                         [attr.aria-label]="'home.deviceselect.macaddress' | translate" aria-describedby="button-addon2" [(ngModel)]="macAddress"
                         id="macaddress">
                </div>
              </div>
              <div class="col-md mb-3">
                <label for="serial" class="form-label">{{ 'serial' | translate }}</label>
                <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" (click)="scanSerial()"><bi name="qr-code" class="mx-1"></bi></button>
                  <input type="text" id="serial" class="form-control" [placeholder]="'serial' | translate"
                         [attr.aria-label]="'serial' | translate" aria-describedby="button-addon2" [(ngModel)]="serialNumber">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-end">
                <button class="btn btn-primary" (click)="connectUsingMAC()">{{ 'home.deviceselect.open' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="selectedOption == 3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md mb-3">
                <label for="macaddress" class="form-label">{{ 'home.deviceselect.macaddress' | translate }}</label>
                <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" (click)="scanMac()"><bi name="qr-code" class="mx-1"></bi></button>
                  <input type="text" class="form-control" [placeholder]="'home.deviceselect.macaddress' | translate"
                         [attr.aria-label]="'home.deviceselect.macaddress' | translate" aria-describedby="button-addon2" [(ngModel)]="macAddress"
                         id="macaddress">
                </div>
              </div>
              <div class="col-md mb-3">
                <label for="serial" class="form-label">{{ 'serial' | translate }}</label>
                <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" (click)="scanSerial()"><bi name="qr-code" class="mx-1"></bi></button>
                  <input type="text" id="serial" class="form-control" [placeholder]="'serial' | translate"
                         [attr.aria-label]="'serial' | translate" aria-describedby="button-addon2" [(ngModel)]="serialNumber">
                </div>
              </div>
              <div class="col-md mb-3">
                <label for="productlist" class="form-label">{{ 'home.deviceselect.select_product' | translate }}</label>
                <select id="productlist" class="form-select" [(ngModel)]="selectedProduct">
                  <option selected [ngValue]="null">{{ 'home.deviceselect.select_product' | translate }}</option>
                  <option *ngFor="let product of products$|async" [ngValue]="product.key"
                          [innerHtml]="product.name"></option>
                </select>
              </div>
            </div>
            <div class="text-end">
              <button class="btn btn-primary" (click)="connectUsingProduct()">{{ 'home.deviceselect.open' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="selectedOption == 4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md mb-3">
                <label for="macaddress" class="form-label">{{ 'home.deviceselect.macaddress' | translate }}</label>
                <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" (click)="scanMac()"><bi name="qr-code" class="mx-1"></bi></button>
                  <input type="text" class="form-control" [placeholder]="'home.deviceselect.macaddress' | translate"
                         [attr.aria-label]="'home.deviceselect.macaddress' | translate" aria-describedby="button-addon2" [(ngModel)]="macAddress"
                         id="macaddress">
                </div>
              </div>
              <div class="col-md mb-3">
                <label for="ap-password" class="form-label">{{ 'home.deviceselect.ap_password' | translate }}</label>
                <input type="text" class="form-control" id="ap-password" [placeholder]="'home.deviceselect.ap_password' | translate"
                       [attr.aria-label]="'home.deviceselect.ap_password' | translate" aria-describedby="button-addon2" [(ngModel)]="regCode">
              </div>
              <div class="col-md mb-3">
                <label for="serial" class="form-label">{{ 'serial' | translate }}</label>
                <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" (click)="scanSerial()"><bi name="qr-code" class="mx-1"></bi></button>
                  <input type="text" id="serial" class="form-control" [placeholder]="'serial' | translate"
                         [attr.aria-label]="'serial' | translate" aria-describedby="button-addon2" [(ngModel)]="serialNumber">
                </div>
              </div>
              <div class="col-md mb-3">
                <label for="productlist" class="form-label">{{ 'home.deviceselect.select_product' | translate }}</label>
                <select id="productlist" class="form-select" [(ngModel)]="selectedProduct">
                  <option selected [ngValue]="null">{{ 'home.deviceselect.select_product' | translate }}</option>
                  <option *ngFor="let product of products$|async" [ngValue]="product.key"
                          [innerHtml]="product.name"></option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col text-end">
                <button class="btn btn-primary" (click)="connectOffline()">{{ 'home.deviceselect.open' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
