<div class="h-100 d-flex flex-column">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <img [src]="(info$|async)?.logo" width="200px">
                    <div class="text-start">
                        <h1 class="fw-bold mb-0">CAIMAN</h1>
                        <small>By Micronova Srl</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md mb-3">
                                <label for="macaddress" class="form-label">Mac Address</label>
                                <input type="text" class="form-control" placeholder="MAC Address"
                                    aria-label="MAC Address" aria-describedby="button-addon2"
                                    [(ngModel)]="macAddress">
                            </div>
                            <div class="col-md mb-3">
                                <label for="serial" class="form-label">Serial Number</label>
                                <input type="text" class="form-control" placeholder="Serial Number"
                                aria-label="Serial Number" aria-describedby="button-addon2" [(ngModel)]="serialNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <button class="btn btn-primary" (click)="connectUsingMAC()">Connect</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md mb-3">
                                <label for="macaddress" class="form-label">Mac Address</label>
                                <input type="text" class="form-control" placeholder="MAC Address"
                                    aria-label="MAC Address" aria-describedby="button-addon2" [(ngModel)]="macAddress"
                                    id="macaddress">
                            </div>
                            <div class="col-md mb-3">
                                <label for="serial" class="form-label">Serial Number</label>
                                <input type="text" id="serial" class="form-control" placeholder="Serial Number"
                                aria-label="Serial Number" aria-describedby="button-addon2" [(ngModel)]="serialNumber">
                            </div>
                            <div class="col-md mb-3">
                                <label for="productlist" class="form-label">Select a product</label>
                                <select id="productlist" class="form-select" [(ngModel)]="selectedProduct">
                                    <option selected [ngValue]="null">Select a product</option>
                                    <option *ngFor="let product of products$|async" [ngValue]="product.key"
                                        [innerHtml]="product.name"></option>
                                </select>
                            </div>

                        </div>
                        <div class="text-end">
                            <button class="btn btn-primary" (click)="connectUsingProduct()">Connect</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h1 class="fw-bold">OFFLINE</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md mb-3">
                                <label for="macaddress" class="form-label">Mac Address</label>
                                <input type="text" class="form-control" placeholder="MAC Address"
                                    aria-label="MAC Address" aria-describedby="button-addon2"
                                    [(ngModel)]="macAddress">
                            </div>
                            <div class="col-md mb-3">
                                <label for="serial" class="form-label">AP Password</label>
                                <input type="text" class="form-control" placeholder="Serial Number"
                                aria-label="Serial Number" aria-describedby="button-addon2" [(ngModel)]="regCode">
                            </div>
                            <div class="col-md mb-3">
                                <label for="serial" class="form-label">Serial Number</label>
                                <input type="text" id="serial" class="form-control" placeholder="Serial Number"
                                aria-label="Serial Number" aria-describedby="button-addon2" [(ngModel)]="serialNumber">
                            </div>
                            <div class="col-md mb-3">
                                <label for="productlist" class="form-label">Select a product</label>
                                <select id="productlist" class="form-select" [(ngModel)]="selectedProduct">
                                    <option selected [ngValue]="null">Select a product</option>
                                    <option *ngFor="let product of products$|async" [ngValue]="product.key"
                                        [innerHtml]="product.name"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <button class="btn btn-primary" (click)="connectOffline()">Connect</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>