$circle-size: 12px;
$message-width: 30em;

.line {
    border-left: 1px solid #ccc;
    height: 100%;
    position: absolute;
    left: 50%;
}

.left {
    width: $message-width;
    text-align: right;

    .circle {
        right: calc(-1 * $circle-size/2);
        top: calc(50% - $circle-size/2);
    }
}

.right {
    width: $message-width;
    margin-left: $message-width;

    .circle {
        left: calc(-1 * $circle-size/2);
        top: calc(50% - $circle-size/2);
    }
}

.circle {
    width: $circle-size;
    height: $circle-size;
    background-color: #CCC;
    border-radius: 50%;
    position: absolute;
}



.message {
    max-height: 100%;
    transition: all 0.3s ease;

    &.collapsed {
        max-height: 0;
        opacity: 0;
    }
}