<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{'auth.resetpassword'|translate}}</h3>
                    <ng-container *ngIf="!finish; else complete">
                        <div class="mb-3">
                            <label for="email" class="form-label">{{'auth.email'|translate}}</label>
                            <input type="email" class="form-control" id="email" [(ngModel)]="email" />
                        </div>
                        <div *ngIf="error" class="mb-2">{{error}}</div>
                        <button type="submit" class="btn btn-primary" (click)="reset()">{{'submit'|translate}}</button>
                        <a routerLink="/auth/login" class="btn btn-link">{{'auth.back'|translate}}</a>
                    </ng-container>
                    <ng-template #complete>
                        <div class="mb-4">{{'auth.reset.success'|translate:{'email': email} }}</div>
                        <a routerLink="/auth/login" class="btn btn-primary">{{'auth.back'|translate}}</a>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>