<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="text-center mb-5">
                <img [src]="(info$|async)?.logo" class="logo">
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{'auth.login'|translate}}</h3>
                    <div class="mb-3">
                        <label for="email" class="form-label">{{'auth.email'|translate}}</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="email" (keyup.enter)="login()" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">{{'auth.password'|translate}}</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="password" (keyup.enter)="login()"/>
                    </div>
                    <div class="mb-3" *ngIf="error">
                        <div *ngIf="error === 'account_expired'">{{'auth.account_expired'|translate}}</div>
                        <div *ngIf="error === 'account_locked'">{{'auth.account_locked'|translate}}</div>
                        <div *ngIf="error === 'invalid_email' || error === 'incorrect_password'">{{'auth.invalid_credentials'|translate}}</div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="login()">{{'submit'|translate}}</button>
                    <a routerLink="/auth/forgot" class="btn btn-link">{{'auth.forgotpassword'|translate}}</a>
                    <a routerLink="/auth/register" class="btn btn-link">{{'auth.newaccount'|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>