.login-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.background-gradient {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.logo
{
  max-height: 200px;
}
.ios-ble
{
  font-size: 13px;
  line-height: 1.1;
}