<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Login</h3>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="email" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="password" />
                    </div>
                    <!-- remember me -->
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe" [(ngModel)]="rememberMe" />
                        <label class="form-check" for="rememberMe">Remember me</label>
                    </div>
                    <div *ngIf="error">{{error}}</div>
                    <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>