
app-variable-tease
{
  height: 100%;
  display: block;
}

.content
{
  border-left: 1px solid var(--gray-300);
  min-height: 100%;
}



.back
{
  font-size: 0.8rem;
}

.menu-mobile
{
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  z-index: 9999;
  .btn-close
  {
    font-size:1 rem;
  }
}

.bg-white
{
  background: #FFF;
}