<div class="h-100 d-flex flex-column">
  <!--<div class="header">
    <app-header (onBurgerClicked)="openMobileMenu()"></app-header>
  </div>-->
  <div class="container-fluid flex-grow-1" *ngIf="(loadDeviceData$|async) as device; else loader">
    <div class="row align-items-start d-flex d-md-none py-3 sticky-top bg-white">
      <div class="col">
          <select class="form-select form-select-sm" (change)="selectTab($event.target)">
            <option value="0">{{'home.deviceinfo'|translate}}</option>
            <option value="1">{{'home.registry'|translate}}</option>
            <option value="2">{{'home.operation'|translate}}</option>
            <option value="3">{{'home.timeline'|translate}}</option>
            <option value="4">{{'home.advanced'|translate}}</option>
            <option value="5">{{'home.logs'|translate}}</option>
            <ng-container *ngIf="connected$|async">
              <option *ngFor="let group of groups$|async;let i = index" (shown)="onGroupSelected(group)" [value]="i+6">
                {{group|overrideGroupName|async}}
              </option>
            </ng-container>
          </select>
      </div>
    </div>
    <div class="row align-items-start h-100">
      <div class="col-md-3 sticky-md-top">
        <div class="px-5 pt-5 d-none d-md-inline">
          <div class="row align-items-start">
            <div class="col">
              <ul class="nav nav-pills">
                <li class="nav-item back"><a class="nav-link" routerLink="/dashboard/home/">{{"back"|translate}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex" class="p-5 pt-2 d-none d-md-inline">
          <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
            <li ngbNavItem (shown)="unselectGroup()" [id]="0" [domId]="'ngb-nav-' + 0">
              <a ngbNavLink>{{'home.deviceinfo'|translate}}</a>
              <ng-template ngbNavContent>
                <app-device-info [device]="device" [connected]="connected$|async"
                  (onDisconnect)="disconnect()"
                  (onBLEConnect)="bleConnect()"
                  (onBridgeConnect)="bridgeConnect()"
                  (onWifiConnect)="wifiConnect()"></app-device-info>
              </ng-template>
            </li>
            <li ngbNavItem (shown)="unselectGroup()" [id]="1" [domId]="'ngb-nav-' + 1">
              <a ngbNavLink>{{'home.registry'|translate}}</a>
              <ng-template ngbNavContent>
                <app-registry></app-registry>
              </ng-template>
            </li>
            <li ngbNavItem (shown)="unselectGroup()" [id]="1" [domId]="'ngb-nav-' + 2">
              <a ngbNavLink>{{'home.operation'|translate}}</a>
              <ng-template ngbNavContent>
                <app-operation></app-operation>
              </ng-template>
            </li>
            <li ngbNavItem (shown)="unselectGroup()" [id]="2" [domId]="'ngb-nav-' + 3">
              <a ngbNavLink>{{'home.timeline'|translate}}</a>
              <ng-template ngbNavContent>
                <app-tickets></app-tickets>
              </ng-template>
            </li>
            <li ngbNavItem (shown)="unselectGroup()" [id]="3" [domId]="'ngb-nav-' + 4" *ngIf="connected$|async">
              <a ngbNavLink>{{'home.advanced'|translate}}</a>
              <ng-template ngbNavContent>
                <app-advanced [device]="device" (onFirmwareGatewayUpgraded)="disconnect()"></app-advanced>
              </ng-template>
            </li>
            <li ngbNavItem (shown)="unselectGroup()" [id]="4" [domId]="'ngb-nav-' + 5">
              <a ngbNavLink>{{'home.logs'|translate}}</a>
              <ng-template ngbNavContent>
                <app-logs [device]="device"></app-logs>
              </ng-template>
            </li>
            <ng-container *ngIf="connected$|async">
              <li ngbNavItem *ngFor="let group of groups$|async;let i = index" (shown)="onGroupSelected(group)" [id]="i + 6" [domId]="'ngb-nav-' + (i + 6)">
                <a ngbNavLink>{{group|overrideGroupName|async}}</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col my-2">
                      <h1 class="fw-bold">{{group}}</h1>
                    </div>
                  </div>
                  <div class="row align-items-stretch">
                    <ng-container *ngFor="let variable of variables$|async|varByGroup:group">
                      <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-3 my-2">
                        <app-variable-tease [variable]="variable"></app-variable-tease>
                      </div>
                    </ng-container>
                  </div>
                </ng-template>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="col p-3 p-md-5 content">
        <div [ngbNavOutlet]="nav" class="flex-grow-1"></div>
      </div>
    </div>
  </div>
  <ng-template #loader>
    <div class="d-flex h-100 w-100 justify-content-center align-items-center">
      <div class="text-center w-50 d-flex">
        <div class="container">
          <div class="row">
            <div class="col p-3">
              <div class="text-center mb-3">{{'loading'|translate}}</div>
              <app-infinite-progress-bar></app-infinite-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div class="menu-mobile d-flex flex-column align-items-start position-fixed vh-100 w-100 top-0 left-0" [ngClass]="{'d-none': !mobileMenuOpen}">
  <div class="text-end w-100 p-3">
    <button class="btn btn-link btn-close" (click)="closeMobileMenu()">
    </button>
  </div>
  <div class="d-flex w-100 align-items-center justify-content-center flex-grow-1">
    <ul class="list-unstyled">
      <li><a routerLink="/dashboard/home/">{{"back"|translate}}</a></li>
    </ul>
  </div>
</div>