<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{'auth.register'|translate}}</h3>
                    <ng-container *ngIf="!finish && !validation">
                        <div class="row">
                            <div class="col-md">
                                <div class="mb-3">
                                    <label for="name" class="form-label">{{'auth.register.name'|translate}}</label>
                                    <input type="text" class="form-control" id="name" [(ngModel)]="user.name" />
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="mb-3">
                                    <label for="surname" class="form-label">{{'auth.register.surname'|translate}}</label>
                                    <input type="text" class="form-control" id="surname" [(ngModel)]="user.surname" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="email" class="form-label">{{'auth.email'|translate}}</label>
                                    <input type="email" class="form-control" id="email" [(ngModel)]="user.email" />
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">{{'auth.password'|translate}}</label>
                                    <input type="password" class="form-control" id="password"
                                        [(ngModel)]="user.password" />
                                </div>
                                <div class="mb-3">
                                    <label for="repeatpassword" class="form-label">{{'auth.repeatpassword'|translate}}</label>
                                    <input type="password" class="form-control" id="repeatpassword"
                                        [(ngModel)]="repeatPassword" />
                                </div>
                                <div class="mb-3">
                                    <label for="company" class="form-label">{{'auth.register.company'|translate}}</label>
                                    <input type="text" class="form-control" id="company" [(ngModel)]="user.company" />
                                </div>
                                <div *ngIf="error" class="mb-3">
                                    <div *ngIf="error === 'existing_user_email'">{{'auth.existing_user_email'|translate}}</div>
                                    <div *ngIf="error === 'password_short'">{{'auth.password_short'|translate}}</div>
                                    <div *ngIf="error === 'password_not_match'">{{'auth.password_not_match'|translate}}</div>
                                </div>
                                <button type="submit" class="btn btn-primary" (click)="signUp()">{{'submit'|translate}}</button>
                                <a routerLink="/auth/login" class="btn btn-link">{{'auth.back'|translate}}</a>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!finish && validation">
                        <div class="mb-2">{{'validation'|translate}}</div>
                        <a routerLink="/auth/login" class="btn btn-link">{{'auth.back'|translate}}</a>
                    </ng-container>
                    <ng-container *ngIf="finish">
                        <div class="mb-2">{{'auth.register.success'|translate}}</div>
                        <a routerLink="/auth/login" class="btn btn-link">{{'auth.back'|translate}}</a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>