<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Recover password</h3>
                    <ng-container *ngIf="!finish; else complete">
                        <div class="mb-3">
                            <label for="password" class="form-label">Nuova password</label>
                            <input type="password" class="form-control" id="password" [(ngModel)]="password" />
                        </div>
                        <div class="mb-3">
                            <label for="repeat" class="form-label">Repeat password</label>
                            <input type="password" class="form-control" id="repeat" [(ngModel)]="reapeatPassword" />
                        </div>
                        <div *ngIf="errorCode == 1" class="mb-2">La password ha una dimensione inferiore a 8 caratteri.</div>
                        <div *ngIf="errorCode == 2" class="mb-2">Le password non coincidono.</div>
                        <div *ngIf="errorCode == 3" class="mb-2">Il link è scaduto, richiedi nuovamente il reset della password.</div>

                        <button type="submit" class="btn btn-primary" (click)="recover()">Invio</button>
                        <a routerLink="/auth/login" class="btn btn-link">Torna al login</a>

                    </ng-container>
                    <ng-template #complete>
                        <div>La password è stata cambiata con successo</div>
                        <a routerLink="/auth/login">Torna al login</a>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>