<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ 'auth.recover' | translate }}</h3>
                    <ng-container *ngIf="!finish; else complete">
                        <div class="mb-3">
                            <label for="password" class="form-label">{{'auth.newpassword'|translate}}</label>
                            <input type="password" class="form-control" id="password" [(ngModel)]="password" />
                        </div>
                        <div class="mb-3">
                            <label for="repeat" class="form-label">{{'auth.repeatpassword'|translate}}</label>
                            <input type="password" class="form-control" id="repeat" [(ngModel)]="reapeatPassword" />
                        </div>
                        <div *ngIf="errorCode == 'password_short'" class="mb-2">{{ 'auth.password_short'|translate }} </div>
                        <div *ngIf="errorCode == 'password_not_match'" class="mb-2">{{'auth.password_not_match'|translate}}</div>
                        <div *ngIf="errorCode == 'link_invalid'" class="mb-2">{{'auth.recover.link_invalid' |translate}}</div>

                        <button type="submit" class="btn btn-primary" (click)="recover()">{{'submit'|translate}}</button>
                        <a routerLink="/auth/login" class="btn btn-link">{{'auth.back'|translate}}</a>

                    </ng-container>
                    <ng-template #complete>                       
                        <div class="mb-4">{{ 'auth.recover.success' | translate }}</div>
                        <a routerLink="/auth/login" class="btn btn-primary">{{'auth.back'|translate}}</a>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>