<div class="container">
    <div class="row">
        <div class="col p-3 p-md-5">
            <div class="row">
                <div class="col-md my-2">
                    <h1 class="fw-bold">{{'profile'|translate}}</h1>
                </div>
            </div>
                        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
                <div class="row">
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="codiceFiscale">{{'auth.register.vat'|translate}}</label>
                            <input class="form-control" id="codiceFiscale" type="text" [placeholder]="'auth.register.vat'|translate"
                                pattern="^([A-Z]{6}[0-9LMNPQRSTUV]{2}[ABCDEHLMPRST]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1})$|([0-9]{11})$|^(IT)?[0-9]{11}$"
                                required [(ngModel)]="data.fiscal_code" name="fiscal_code" />
                            <div class="invalid-feedback">
                                {{ 'field.invalid' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="ragioneSociale">{{'auth.register.businessname'|translate}}</label>
                            <input class="form-control" id="ragioneSociale" type="text" [placeholder]="'auth.register.businessname'|translate"
                                [(ngModel)]="data.business_name" name="business_name" #businessname="ngModel" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="nome">{{'auth.register.name'|translate}}</label>
                            <input class="form-control" id="nome" type="text" [(ngModel)]="data.name" name="name"
                            [placeholder]="'auth.register.name'|translate" required />
                            <div class="invalid-feedback">
                                {{ 'field.invalid' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="cognome">{{'auth.register.surname'|translate}}</label>
                            <input class="form-control" id="cognome" type="text" [(ngModel)]="data.surname" name="surname"
                            [placeholder]="'auth.register.surname'|translate" required />
                            <div class="invalid-feedback">
                                {{ 'field.invalid' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="email">{{'auth.email'|translate}}</label>
                            <input class="form-control" id="email" type="email" [(ngModel)]="data.email" name="email"
                            [placeholder]="'auth.register.email'|translate"  pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required disabled />
                            <div class="invalid-feedback">
                                {{ 'field.invalid' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="address">{{'auth.register.address'|translate}}</label>
                            <input class="form-control" id="address" type="text" [(ngModel)]="data.address"
                            [placeholder]="'auth.register.address'|translate" name="address" required />
                            <div class="invalid-feedback">
                                {{ 'field.invalid' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="streetnumber">{{'auth.register.streetnumber'|translate}}</label>
                            <input class="form-control" id="streetnumber" [(ngModel)]="data.street_number" type="text" required
                                name="streetnumber"  [placeholder]="'auth.register.streetnumber'|translate" />
                            <div class="invalid-feedback">
                                {{ 'field.invalid' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="telefono">Telefono</label>
                            <input class="form-control" id="telefono" [(ngModel)]="data.phone" type="text" name="phone"
                            [placeholder]="'auth.register.phone'|translate" required />
                            <div class="invalid-feedback">
                                {{ 'field.invalid' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="mobile">Cellulare</label>
                            <input class="form-control" id="mobile" [(ngModel)]="data.mobile" name="mobile" type="text"
                            [placeholder]="'auth.register.mobile'|translate" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="city">{{'auth.register.city'|translate}}</label>
                            <input class="form-control" id="city" type="text" [(ngModel)]="data.city" name="city"
                            [placeholder]="'auth.register.city'|translate" required />
                            <div class="invalid-feedback">
                                {{ 'field.invalid' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="province">{{'auth.register.province'|translate}}</label>
                        <input class="form-control" id="province" type="text" [(ngModel)]="data.province" name="province"
                        [placeholder]="'auth.register.province'|translate" required />
                        <div class="invalid-feedback">
                            {{ 'field.invalid' | translate }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="zip">{{'auth.register.zip'|translate}}</label>
                            <input class="form-control" id="zip" type="text" [(ngModel)]="data.zip" name="zip" [placeholder]="'auth.register.zip'|translate"
                                required />
                            <div class="invalid-feedback">
                                {{ 'field.invalid' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-3">
                            <label class="form-label" for="country">{{'auth.register.country'|translate}}</label>
                            <select class="form-control" id="country" name="country" [(ngModel)]="data.country" required>
                                <option *ngFor="let country of countries$|async" [ngValue]="country.code">{{country.name}}</option>
                            </select>
                            <div class="invalid-feedback">
                                {{ 'field.invalid' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md text-end">
                        <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.dirty">{{'update'|translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
