<div class="row align-items-start">
    <div class="col-md text-center order-1 order-md-2 sticky-md-top">
      <img [src]="device?.info?.image" class="w-100 image">
    </div>
    <div class="col-md order-2 order-md-1">
      <h1 class="fw-bold">{{device?.mac}}</h1>
      <div class="fw-bold">{{device?.name_product}}</div>
      <p class="my-5">{{device?.info?.description }}</p>

      <ul class="nav pb-5">

        <li class="nav-item me-2" *ngIf="!connected"><button class="btn btn-lg btn-primary"
            (click)="wifiConnect()">{{ 'home.deviceinfo.wifi' | translate }}</button></li>
        <li class="nav-item me-2" *ngIf="!connected"><button class="btn btn-lg btn-primary"
            (click)="bleConnect()">{{ 'home.deviceinfo.ble' | translate }}</button></li>
        <li class="nav-item me-2" *ngIf="!connected"><button class="btn btn-lg btn-primary"
            (click)="bridgeConnect()">{{ 'home.deviceinfo.bridge' | translate }}</button></li>

        <li class="nav-item me-2" *ngIf="connected"><button class="btn btn-lg btn-primary"
            (click)="disconnect()">{{ 'home.deviceinfo.disconnect' | translate }}</button></li>
      </ul>

      <ng-container *ngIf="(device?.info?.documents|withRole|async) as documents">
        <div class="row my-5" *ngIf="documents.length > 0">
            <div class="col">
              <h3>{{ 'home.deviceinfo.documents' | translate }}</h3>
              <ul>
                <li *ngFor="let doc of documents">
                  <a [href]="doc.file|attachmentUrl|async" target="_blank">{{doc.name}}</a>
                </li>
              </ul>
            </div>
          </div>
      </ng-container>

      <div class="row mb-5">
        <div class="col">
          <h3>{{ 'home.deviceinfo.faq' | translate }}</h3>
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel [title]="faq.question" *ngFor="let faq of device?.info?.faq">
              <ng-template ngbPanelContent>
                {{faq.response}}
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>{{ 'home.deviceinfo.video' | translate }}</h3>
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel [title]="video.name" *ngFor="let video of device?.info?.video">
              <ng-template ngbPanelContent>
                <div class="d-flex justify-content-center align-items-center flex-column">
                  <youtube-player [videoId]="video.video"></youtube-player>
                  <div>{{video.description}}</div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>